<p><img src="/images/me.jpg" width="450" height="250" title="Eeva Kauppi" ></p>
<a href="http://www.facebook.com/eeva.kauppi.kerava">Facebook sivuni</a>

<p>30-vuotias kahden pienen tytön äiti ehdolla ensimmäistä kertaa kunnallisvaaleissa. Asun avoliitossa lasteni isän kanssa Keravan Kalevassa. Tavoitteenani on päästä ajamaan etenkin lapsiperheiden asioita unohtamatta muiden kuntalaisten hyvinvointia.</p>

<ul>
<li>Keravalla on yhdet Suomen suurimmista luokista. Kurkelaan on rakennettava yhteiskoulu ja Sompion koulu muutettava myös yhteiskouluksi.</li>
<li>Keskusta on elävöitettävä!</li>
<li>Lähiluonto ja lähimetsät pidettävä kaikkien tavoitettavissa.</li>
<li>Uimahalli täytyy kunnostaa.</li>
</ul>

